main.development {
	img {
		flex: auto;
		max-width: 100%;
		height: auto;
		border-radius: 0.5rem;
		border: 4px solid var(--secondary-color);
		filter: drop-shadow(0 0 0.5rem var(--secondary-color));
		transition: filter 1s ease;
	}

	img:hover {
		filter: drop-shadow(0 0 1.5rem var(--secondary-color));
	}

	section {
		margin-bottom: 5rem;

		div.grid {
			display: flex;
			flex-flow: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
			gap: 2.5rem;
		}
	}

	h1 {
		margin-bottom: 4rem;
		span.emoji {
			display: inline-block;
			animation: moving 5s ease infinite;
		}
	}

	li {
		margin: 0.75rem 0;
	}
}

@keyframes moving {
	0% {
		transform: translateY(-0.25rem);
	}
	50% {
		transform: translateY(0.25rem);
	}
	100% {
		transform: translateY(-0.25rem);
	}
}

@media screen and (max-width: 730px) {
	main.development {
		padding: 2.5rem 1.5rem;
	}
}
