section.projectCard {
	max-width: 20rem;

	.mobile {
		display: none;
	}
	.desktop {
		display: block;
	}
}

@media screen and (max-width: 730px) {
	section.projectCard {
		margin-bottom: 1.5rem;

		.mobile {
			display: block;
		}
		.desktop {
			display: none;
		}
	}
}
