

.switcher {
	font-size: 1rem;
	border-radius: 100%;
	width: 2rem;
	height: 2rem;
	background-color: var(--secondary-color);
	border: 0.125rem var(--primary-color) dashed;
	cursor: pointer;
	animation: glowing 5s ease infinite;
}


@keyframes glowing {
	0% {
		filter: drop-shadow(0 0 0.125rem var(--primary-color));
	}
	50% {
		filter: drop-shadow(0 0 0.25rem var(--primary-color));
	}
	100% {
		filter: drop-shadow(0 0 0.125rem var(--primary-color));
	}
}