

/* ——— Reset ——— */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ——— Variables ——— */

:root {
	--primary-font: Amstelvar, Lora, Georgia, serif;
	--secondary-font: "Red Hat Mono", "Noto Sans Mono", Courier, monospace;
	--primary-size: calc(1rem + 0.5vw);
	--accent-color: #fbff00;
}

html[lang="ru"] {
	--secondary-font: "Noto Sans Mono", Courier, monospace;
}

/* Classes for “next-theme” theme switcher */

/* html.dark {
	--primary-color: #04000f;
	--secondary-color: #fbfbf1;
}

html.light {
	--primary-color: #fbfbf1;
	--secondary-color: #04000f;
} */

@media screen and (max-width: 730px) {
	:root {
		--primary-size: calc(1.5rem + 0.5vw);
	}
}

@media (prefers-color-scheme: light) {
	:root {
	--primary-color: #fbfbf1;
	--secondary-color: #04000f;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
	--primary-color: #04000f;
	--secondary-color: #fbfbf1;
	}
}


/* ——— Global styles ——— */

:root {
	font-family: var(--primary-font);
	font-size: var(--primary-size);
	line-height: 1.1;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

main {
	padding: 5rem 2.5rem;
	min-height: 125vh;
	background: var(--primary-color);
	color: var(--secondary-color);
}

main::selection {
	background: var(--secondary-color);
	color: var(--primary-color);
}

h1 {
	text-align: center;
	font-size: 3.125rem;
	font-stretch: 75%;
	font-weight: 450;
	margin: 5rem 0;
	line-height: 1.05;
}

h2 {
	text-align: center;
	font-size: 1.5rem;
	font-stretch: 80%;
	font-weight: 550;
	margin: 2.5rem 0;
	letter-spacing: 0.025rem;
	line-height: 1.05;
}

h3 {
	font-size: 1.25rem;
	font-stretch: 90%;
	font-weight: 500;
	letter-spacing: 0.025rem;
}

p {
	word-spacing: 0.05rem;
	letter-spacing: 0.05rem;
	line-height: 1.15;
	margin: 1.25rem 0;
}

a {
	text-decoration: underline;
	transition: text-decoration-color 0.075s linear;
	font-family: var(--secondary-font);
	color: var(--secondary-color);
	cursor: pointer;
}

a:hover {
	text-decoration-color: rgba(0, 0, 0, 0);
}

a span.emoji {
	display: inline-block;
	margin-left: 0.5em;
}

strong {
	font-weight: 650;
}

em {
	font-style: italic;
}

@media screen and (max-width: 730px) {
	main {
		padding: 2.5rem 1.5rem;
	}

	h1 {
		font-size: 2.5rem;
		margin: 5rem 0;
	}
}